<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css'%}">
    <script src="{%static 'enroll/javascripts/jquery.js'%}" defer></script>
    <script src="{%static 'enroll/javascript/popper.js'%}" defer></script>
    <script src="{%static 'enroll/javascript/bootstrap.js'%}" defer></script>

</head>
<body>
    <div class="container mt-5">
        <h2 class = "text-center alert alert-danger">Function Based View ModelForm CRUD</h2>
        {% block content %}{% endblock content %}
    </div>
    
    
</body>
</html>